.containerheader
{
    background-color:rosybrown;
    color:blue;
}
.containercontent
{
    background-color: grey;
    color: red;
}
.containerfooter
{
    background-color:rosybrown;
    color:blue;
}
body {
    color:black;
    background-color:white;
    background-image:url(images/teststress1.gif);
}
.mouna{
    background-color: #00b0ff;
}

.ll{
    background-color: #8BC34A;
}