<footer id="footer">
    <div>
        <div class="mouna">
            <P ><center>{{ "Merci pour votre visite " |t}}</center></P>
            <p><center>#{{ '<span>Dash</span>OfSeduction'|trans }}</center></p>
        </div>
        <div>
            <center><h1><a href="{{ url('<front>') }}">{{ 'lien test'|t }}</a></h1></center>
        </div>
    </div>

</footer>

